.inner-container{
    gap: 1.5rem;
    background: #4161df;
    padding: 2rem;
    border-radius: 10px;
    border: 6px solid #5d77d6;
    -webkit-margin-top-collapse: center;
}

.inner-container .primaryText{
    color: white;
    font-weight: 600;
}

.inner-container .secondaryText{
    color:rgba(255,255,255,0.587)
}

.buttonlast{
    font-weight: 500;
    padding:0.6rem 1.4rem ;
    background:var(--blue);
    border:none;
    border-radius:4px;
    transition: all 300ms ease-in;
  }
  

  .inner-container .buttonlast{
    background: #5a73d7;
    border: 2px soid white;
    box-shadow: var(--shadow);
    border-radius: 10px;

  }