.App{
    position:relative;
    overflow: clip;

}

.App>:nth-child(1){
    background: var(--black);
    position: relative;
}

/*its not working correctly*/
/*.white-gradient{
    position:absolute;
    height: 20rem;
    width: 20rem;
    background: rgba(255,255,255,0.522);
    filter: blur(100px);
    border-radius: 100px;
    
}*/